antlr4-python3-runtime
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
cffi
contourpy
cycler
debugpy
decorator
defusedxml
dill
entrypoints
executing
fastjsonschema
fonttools
graphviz
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-core
jupyter_client
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opendp
packaging
pandas
pandasql
pandocfilters
parso
pathos
patsy
pexpect
phe
pickleshare
Pillow
pox
ppft
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
smartnoise-sql
snakeviz
soupsieve
sql-metadata
SQLAlchemy
sqlglot
sqlparse
stack-data
statsmodels
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
zipp
